<ion-header>
    <ion-toolbar class="header" color="tertiary">
        <ion-title>Comentarios</ion-title>
        <ion-button color="warning" slot="end" [routerLink]="['/tabs/cartelera']">Cartelera</ion-button>
        <ion-button color="success" slot="start" (click)="presentModal()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>

                    <ion-img [src]="pelicula.poster"></ion-img>

                    <ion-card-header>
                        <ion-card-title>{{pelicula.titulo}}</ion-card-title>
                        <ion-card-subtitle>Dirigida por: {{pelicula.director}}</ion-card-subtitle>
                        <ion-card-subtitle>Lanzamiento: {{pelicula.fecha}}</ion-card-subtitle>
                        <ion-card-subtitle>Puntuacion: {{pelicula.rating}}
                            <ion-icon name="star"></ion-icon>
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        {{pelicula.argumento}}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card *ngFor="let comentario of comentarios">
        <ion-item>
            <ion-label color="danger">{{comentario.username}} comenta: </ion-label>
        </ion-item>
        <ion-card-content>
            {{comentario.comentario}}
            <ion-button color="danger" *ngIf="usuario === comentario.username" (click)="deleteComentario(comentario.id, pelicula.titulo)">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-card-subtitle color="success">Puntuacion: {{comentario.userRating}}
                <ion-icon name="star"></ion-icon>
            </ion-card-subtitle>
        </ion-card-content>
    </ion-card>
</ion-content>