ion-img {
    height: 150px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

ion-button {
    margin-left: 10px;
    margin-right: 10px;
}

ion-title {
    text-align: center;
}

ion-content {
    text-align: center;
}