$white-color: #fff;
$height100: 100%;
ion-grid {
    width: 100%;
    height: $height100;
    background: #dfdfdf;
    text-align: center;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
    background: url('../../assets/image/cinema-background-with-movie-objects_1823382.jpg') no-repeat center center/cover;
}

h3 {
    color: white;
}

ion-button {
    font-weight: 100px;
    margin-right: 10px;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}