ion-content {
    --background: translucent;
    --background: url('../../assets/image/cinema-background-with-movie-objects_1823382.jpg') no-repeat center center/cover;
}

ion-img {
    width: 100px;
    height: 100px;
}

ion-button {
    font-weight: 100;
    margin-right: 10px;
}

ion-toolbar {
    --background: transparent;
}