<ion-header>
    <ion-toolbar class="header">
        <ion-title>Cartelera</ion-title>
        <ion-button color="danger" slot="end" (click)="logout()">Log Out</ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item-sliding #slidingItem *ngFor="let pelicula of peliculas">
                        <ion-item detail>
                            <ion-label>
                                <h4>{{ pelicula.titulo }}</h4>
                                <p>{{ pelicula.director }}</p>
                            </ion-label>
                        </ion-item>
                        <ion-item-options>
                            <ion-item-option [routerLink]="['/cartelera', pelicula.titulo, 'comentarios']" routerLinkActive="router-link-active">
                                <ion-icon slot="icon-only" name="create"></ion-icon>
                            </ion-item-option>
                            <ion-item-option class="borrar" (click)="deleteProyecto(proyecto.id, slidingItem)">
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                    <!-- <div padding>
                        <ion-button [routerLink]="['create']" size="large" type="submit" expand="block">Crear Proyecto</ion-button>
                    </div> -->
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-toolbar class="header">
                <ion-button color="success" slot="end" [routerLink]="['/creacion']" routerLinkActive="router-link-active">Crear</ion-button>
            </ion-toolbar>
        </ion-row>
    </ion-grid>
</ion-content>